<div class="h-12 border-b w-full flex items-center p-2 font-semibold">
    Feed
</div>
<div class="p-4 gap-2 grid">
    <div class="flex gap-2 items-center">
        <div class="avatar avatar-md">
            <img src="" alt="">
        </div>
        <input class="w-full" placeholder="What will you post today?" />
    </div>
    <div class="flex">
        <div class="flex gap-1">
            <button class="button btn-icon-xs btn-ghost">
                p
            </button>
            <button class="button btn-icon-xs btn-ghost">
                o
            </button>
            <button class="button btn-icon-xs btn-ghost">
                p
            </button>
            <button class="button btn-icon-xs btn-ghost">
                o
            </button>
            <button class="button btn-icon-xs btn-ghost">
                l
            </button>
        </div>
        <div class="flex-1 items-end">
            <button class="button btn-primary btn-xs w-fit">
                Post
                <kbd>
                    Ctrl enter
                </kbd>
            </button>
        </div>
    </div>

</div>