<div class="h-12 border-b w-full flex items-center p-2 font-semibold gap-2">
    <button class="button btn-icon-xs btn-secondary" title="Back">
        <i class="hgi-stroke hgi-arrow-left-01"></i>
    </button>
    Create post
</div>

<div class="w-full p-2">
    <div class="flex w-full gap-2">
        <button class="button btn-xs btn-outline shadow-sm">
            <i class="hgi-stroke hgi-link-01"></i>Link
        </button>
        <button class="button btn-xs btn-ghost">
            <i class="hgi-stroke hgi-album-02"></i>Photos
        </button>
        <button class="button btn-xs btn-ghost">
            <i class="hgi-stroke hgi-left-to-right-list-triangle"></i>Poll
        </button>
        <button class="button btn-xs btn-ghost">
            <i class="hgi-stroke hgi-package"></i>Project
        </button>
    </div>
    {{embed}}
</div>